
<!--<div class="wrapper wrapper-content">-->
<div class="container">
<div class="row">
    <div class="col-lg-12">
        <h2>Eventi in calendario</h2>        
    </div>
    <% @events.each do |event|%>
        <div class="col-lg-4">
            <% if not user_signed_in? %>
                
                <div class="panel panel-default">
                    <div class="panel-heading">                        
                        <%= link_to website_events_show_path(id: event.id) do %>
                            <strong><%= event.name %></strong>
                        <% end %>
                    </div>
                    <div class="panel-body">
                        <%= event.date %></span><br>
                        <%= event.location %></span><br>
                        <%= event.address %> - <%= event.city %><br>
                        <h1>
                           <button type="button" class="btn btn-w-m btn-success disabled">iscritti <%= event.subscriptions.size %></button>&nbsp;
                                <button type="button" class="btn btn-w-m btn-success disabled">in lista <%= event.waiting_lists.size %></button>                                
                        </h1>
                    </div>
                </div>            
            <% else %>
                
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <%= link_to users_events_show_path(id: event.id) do %>
                                <strong><%= event.name %></strong>
                            <% end %>
                        </div>
                        <div class="panel-body">
                            <%= event.date %></span><br>
                            <%= event.location %></span><br>
                            <%= event.address %> - <%= event.city %><br>
                            <h1>
                                <button type="button" class="btn btn-w-m btn-success disabled">iscritti <%= event.subscriptions.size %></button>&nbsp;
                                <button type="button" class="btn btn-w-m btn-success disabled">in lista <%= event.waiting_lists.size %></button>                                
                            </h1>
                        </div>
                    </div>                
            <% end %>                    
        </div>
    <% end %>
</div>
</div>
<!--</div>-->